<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>invProj </title>
</head>
<body>
    <h1>Packing Slip</h1>
    <form action="/scan"  method="post">     
        <div class="form-row">    
            <div class="col-sm-2">
                <label for="packet" class="form-control">Packet#:</label>
            </div>    
            <div class="col-sm-4">
                <input type="text" class="form-control" name="f_packet">
            </div>    
        </div>
        <input type='submit' value='Ready to Scan'>
    </form>
</body>