<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>invProj </title>
    <style>
        img {
            display: block;
            padding: 12px; 
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
        }
        h2 {
            padding: 12px;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div>
        <img src="/static/OME Banner.jpg">
    </div>
    <h2>DELIVERY NOTE</h2>
    <br>
    <p>{{ dTable[3] }}</p>
    <p>{{ dTable[10] }}</p>
    <p>{{ dTable[11] }}, {{ dTable[12] }} {{ dTable[13] }}</p>
</body>
